* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}


.top {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 52px;

}

.content {
    display: flex;
    justify-content: space-between;
    margin: 70px 70px;
    gap: 30px;
    align-items: flex-start;
}

.textes {
    margin: 33px;
    margin-bottom: 30px;
}

.element {
    border: 1px solid black;
    width: 30%;
}

img {
    width: 100%;
}

.tittle {
    font-weight: bold;
    margin-bottom: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 52px;
}

h2 {
    font-weight: 400;

}


@media only screen and (min-width: 300px) and (max-width: 600px) {
    .textes {
      font-size: 0.9rem;
    }

    .content {
        flex-wrap: wrap;
    }

    .element {
        border: 1px solid black;
        width: 100%;
    }

  }
  